[2016-04-17 12:33] dadepo opened #1 "Create a Blue Green Deployment"
There is a need to be able to deploy without any downtime. (Currently this is not the case)

A blue green deployment plan needs to be implemented. The actual way to go about implementing this has not been defined yet, but here are the various options:

1. ngnix/travis managed plan:
Have ngnix configured to be able to route traffic to a second port when the primary port is down.
Start the green ver

[2016-04-18 07:24] hardcorekancil opened #2 "Collect unsuccessful search items"
Find a way to display a list of names searched that did not yield a result from the database. Frequency data would help too.
This would enable us to add popular names based on what users are searching for.

[2016-04-18 07:30] hardcorekancil opened #3 "Entry completion indicator"
Create a labelling system to indicate the level of completion of an entry so as to attract attention to entries that are in need of editing.
This indicator could be based on the number of filled fields, possibly with different weights depending on the importance of each field (we could prioritise meaning and extended meaning for example).

[2016-04-18 07:36] hardcorekancil opened #4 "New search feature: search names by root"
This feature would allow the user to search for all names formed on the ọlá root for example.

Another related idea would be to include a theme-based search from the English meanings. For example, one might want to look for names whose meanings relate to the theme of 'home'. The search would yield all the names whose meaning include the search term.

[2016-04-18 07:41] hardcorekancil opened #5 "Make each field editable by users"
Instead of the current text box for feedback, a user who wishes to contribute would be able to either directly edit a field within an entry or open a complete form to edit several fields at a time.
The modifications would still require a lexicographer's approval but this improvement would make the work faster. Currently, lexicographers have to analyse the feedback forms and make the necessary chan

[2016-04-18 07:47] hardcorekancil opened #6 "Add a date tag to each entry"
The date tag would indicate when the entry was first created and the latest edit made on it.

[2016-04-18 07:49] hardcorekancil opened #7 "Sitemap"
We need a sitemap for better indexing by search engines and better understanding of the links in the site.https://support.google.com/webmasters/answer/183668?hl=en

[2016-04-18 07:52] hardcorekancil opened #8 "Merchandise store"
Add a link to a merchandise store or a widget.

An example is here http://naijalingo.spreadshirt.com/. We have someone in Nigeria who can make mugs for us, but this model of spreadshirt.com can work for foreigners.

[2016-04-18 07:58] hardcorekancil opened #9 "Name of the day / random name"
Let's have a randomised display like the one on this site http://naijalingo.com/. We can create a box for it on the homepage without messing with our design. Or if this can't work, we can just create a new column among the "recently added" and "recent search" already on the homepage for random name entries.

[2016-04-18 08:03] hardcorekancil opened #10 "Detect and eliminate duplicate entries during bulk upload"
It will be nice if whenever there is a duplicate entry, the dictionary chooses the entry already in the database over the one newly added. So instead of an error message, one just gets a message that all uploads have been done except for the duplicate entries (provide list).

[2016-04-18 08:14] hardcorekancil opened #11 "Use syllable breakdown field to automatise TTS"
The "syllable breakdown" field could be used to feed TTS audio. The idea would be to encode the syllables in machine readable information (e.g. Adébòmí for [a_m.de_h.bo_f.mi_r] or any similar convention) where the machine could assign a pre-recorded audio file to each segment.

[2016-04-18 08:17] hardcorekancil opened #12 "Make 'variant' a searchable field"
Because the "variant" field is used to list the many ways a name can be written, and because we can't always list all the abridged forms as individual entries, should we perhaps change the "variant" field to a tag field and change the coding such that if anyone searches for any of the names in that field, it just brings them to the entry where it's listed? In the case where an a variant occurs in

[2016-04-18 08:19] hardcorekancil opened #13 "Famous person field redo"
I think the "famous persons" field should work like the "gloss" fields work. One should have the suggested famous person field on the left and the web link on right, and then have a chance to add more famous people/link just like it is under "gloss" - as many as possible.

[2016-04-18 08:21] hardcorekancil opened #14 "Finite state machine for name generation"
From the number of entries you now have in the dictionary now, I think there is enough data to build this machine.
The idea behind the finite state machine is if you have Adetunde, Adetunji Akintunji and Akisola, there is already as suggestion that Adesola are Akisola possible.  The more the manes that fit these patterns the stronger the evidence that the suggestions will be right.  These list of

[2016-04-18 08:22] hardcorekancil opened #15 "Back up index and db every night"
Implement a script that runs everynight that uploads the index and the content of the database to googledocs.

[2016-04-18 08:23] hardcorekancil opened #16 "Email notifications for name suggestions and feedback"
Send email to necessary personel when suggestions or feedback are added.

[2016-04-18 08:26] hardcorekancil opened #17 "Protect contributors' privacy"
We can have the dictionary show only the usernames when it displays the name of the submitter. Therefore, current submissions will have the name of the submitter as something like kolatubosun@ while the rest is hidden, to prevent being exposed to privacy litigations.

[2016-04-22 09:46] dadepo opened #18 "Convert Urls to clickable links in name entry view"
When a URL is include in any of the name attributes, when displaying, automatically convert these URLs into clickable links.

[2016-05-04 08:38] dadepo commented on #17
Instead of showing the email, we should be showing the names instead

[2016-05-05 08:47] hardcorekancil commented on #17
Yes, that makes sense. Users should also be informed that their name is going to be displayed on the entry page and ideally have the option to display only the first name.

[2016-06-01 18:59] amirsanni opened #19 "Link Error"
Blog link at the bottom of the page not correct.

![yorubaname combug](https://cloud.githubusercontent.com/assets/6107185/15721940/3c564562-2833-11e6-9495-1bb5f3852d3c.PNG)

[2016-06-02 01:00] hayzedious commented on #19
@dadepo I noticed an inconsistency after i pulled the project to my local system, i checked up the blog link on my local copy and it was prefixed with 'http://' but on the remote site, no such prefix is present

[2016-06-02 07:41] dadepo commented on #19
@hayzedious You are correct. I almost forgot about the state of this issue. It has actually been fixed. But not just deployed yet. So yes, your local copy would not have the problem.

I will keep this ticket open and only close it when we deploy.

[2016-06-02 11:50] hayzedious commented on #19
OK cool
On Jun 2, 2016 03:41, "dadepo" <notifications@github.com> wrote:

[2016-06-03 18:26] dadepo opened #20 "Clean up unused Javascript lib and CSS"
There seems to be a lot of Javascript lib included but not used. Also css files. These should be removed.

[2016-06-24 00:49] dadepo opened #21 "Show most recently updated entries."
As shown in this screenshot https://www.dropbox.com/s/882p3ed820yjamy/Screenshot%202016-01-17%2017.40.15.png?dl=0 on the home page we show:
1. Latest searches
2. Latest Addition
3. Most popular

This feature request is about adding a "Recently Edited" list to this.

[2016-06-24 01:23] dadepo opened #22 "Expose API to be able to list name entries grouped by lexicographer"
In other to implement the feature here https://github.com/Yorubaname/yorubaname-dashboard/issues/5 the api should be able to return entries filtered by the user who submitted them.

[2016-06-24 01:39] dadepo opened #23 "Support the ability to have multiple meanings for Morphology and Etymology."
As depicted in the screenshot https://www.dropbox.com/s/7247d21foo7uyyg/Screenshot%202016-01-20%2019.35.05.png?dl=0 it might be possible to have multiple meaning for the morphology and etymology.

Extend the dictionary to support this. This feature would also require changes in the website application

[2016-06-24 17:56] dadepo opened #24 "Add ability to categorise entries without meaning"
As a user of the YorubaName website, I want a section where name entries with no meanings can be quickly viewed, so I can easily find entries I can help with by providing the missing meanings.

[2016-06-24 19:26] kolatubosun commented on #24
Great idea!

[2016-07-03 10:58] kolatubosun opened #25 "Hard to Update Entries"
This issue has been with us since launch. How it manifests itself is that after you've completed all the required entries for a name on the dashboard, and then you click "save" or "publish" at the bottom of the page, you get the red alert of death in the top right corner saying "entry can't be updated" (screenshot attached). Then you will be forced to refresh, losing all your entries, and then do

[2016-07-03 15:00] dadepo opened #26 "Configure logback With a Rolling Policy"
Configure logback with a daily roll over policy.

[2016-07-09 10:43] kolatubosun opened #27 "Can't distinguish ambiguity"
When I search for "Ògúnlàdé", the dictionary takes me to the entry for "Ògúnladé". The names are different. But because the search functionality doesn't recognise them as different, I am not able to create a new entry for "Ògúnlàdé" which doesn't exist in the dictionary. It's the same for Adésọ́lá and Adéṣọlá. There are many more names like that.

Let's make it such that tone markin

[2016-07-09 11:01] kolatubosun opened #28 "Category: Workshop"
Let's create a category, accessible to the user via the front end, called "workshop". Perhaps, also, create a button in the back end with a check mark that the lexicographer can tick to ensure that an entry shows up on the workshop front end.

The purpose of this "workshop" category is for names whose meanings/tone marking aren't clear, and for which we need help. So the competent user visiting th

[2016-07-10 10:29] dadepo commented on #28
How is this feature request different from https://github.com/Yorubaname/yorubaname-website/issues/24
Apart from the terminology (i.e Workshop category) it seems to be serving the same purpose. Or you envision this to be different in anyway? if no, then we can close this and mark it as a duplicate issue.

[2016-07-10 10:37] kolatubosun commented on #28
Yea, it's the same. I had forgotten about that one you filed earlier. There's a slight difference though: this one will have a check box feature on the back end with which the lexicographer can, without effort, mark an entry as incomplete in meaning.

[2016-07-10 10:48] dadepo opened #29 "Remove the See Also Section in a name entry"
The "See Also" in the name entry view appears not to have any use.

It should be removed.

[2016-07-10 10:50] dadepo commented on #28
Maybe there is no need to have the button in the backend? Any entry that is "incomplete" would automatically appear. Removing the need to have an extra step of having someone click a button before these names appear as in need of some attention by people who might be able to help

[2016-07-10 10:53] kolatubosun commented on #28
Okay, but what marks something as "incomplete"? For me, even if a name doesn't have "famous people" or "variant", it can still be complete. How do we train the app to know which names to put in the "incomplete" group?

[2016-07-10 11:06] dadepo commented on #28
We have this feature: completion indicator, already added https://github.com/Yorubaname/yorubaname-website/issues/3.

We can hook that into this issue. We can use the completion indicator to decide what the threshold is for a name to automatically appear as incomplete.

[2016-07-10 11:23] kolatubosun commented on #28
Oh okay. Lovely.

But, going forward, I'm really interested in checkboxes as means of doing
some of the things we currently have to type out. From my experience
working on the name entries everyday, I've realised that some of what I do
are repititive, and takes too much good time. For instance, if a name
doesn't have its meaning and we want to publish it (I'm in favour of this),
instead of writing

[2016-07-10 11:43] kolatubosun commented on #27
I realise what could solve this: another checkbox called "homograph".

When checked, the field for meaning of names duplicates itself for the lexicographer so that he/she can then put the first spelling and meaning in the first box, and the second spelling and meaning in the second box.

The entry, for the user, also shows as a homograph. On the front end, the "homograph" label can be colour coded

[2016-07-10 12:05] dadepo commented on #28
You have conflated a lot of things in this thread which is not really related to the issue that started this discussion.

I would say you create separate issues to address the things you have mentioned.

The various features I can see in your response include:

1. Add a button to automatically add "verification needed" to a name (you can add another issue and then expand the details of this reques

[2016-07-10 12:06] dadepo commented on #28
I would close this issue now and update issue https://github.com/Yorubaname/yorubaname-website/issues/24 to reflect its implementation should take note of the completion indicator feature described here https://github.com/Yorubaname/yorubaname-website/issues/3

[2016-07-10 12:06] #28 closed

[2016-07-10 12:11] dadepo commented on #24
From the discussion in the issue https://github.com/Yorubaname/yorubaname-website/issues/28, a question arose:

This question is important as we need a way to know when an entry should be regarded as incomplete and thus should be displayed on the website appropriately. In other to be able to do this, the plan would be to make use of the completion indicator requested in the issue https://github.co

[2016-07-11 08:51] kolatubosun opened #30 "Google Integration Possible?"
Laila mentioned something last week which I thought was interesting. Google Translate already has thousands of Yorùbá words and their translations. So, instead of re-inventing the wheel, is there a way we can benefit from their work? I'm thinking we integrate that Translate app into the dictionary some way.

How I assume it will work is that the lexicographer will only have to fill in the morpho

[2016-07-11 09:14] kolatubosun opened #31 "Can We Disable Syllable Breakdown as a Compulsory Field?"
Our conceptualisation of this field is to guide the TTS system. But as we haven't launched that feature, I'd ask that we make the Syllable Breakdown field optional for now. It currently just slows down work and discourages new Lexicographers.

[2016-07-11 09:52] kolatubosun opened #32 "Tweets Don't Lead to Right Page"
It might be a result of the tone marking or any other bug. But when users tweet from within the entry, the tweeted link doesn't lead back to the entry. Check out the screenshots.

![screenshot 25](https://cloud.githubusercontent.com/assets/18510601/16726680/6b1248d8-4755-11e6-9983-f21944a085d3.png)
![screenshot 24](https://cloud.githubusercontent.com/assets/18510601/16726686/724e9318-4755-11e6-83f

[2016-07-11 10:57] dadepo commented on #30
In general it is possible. The Google Translate API is available, but it is not free...it is a paid service. This page gives an overview of the pricing https://cloud.google.com/translate/v2/pricing

[2016-07-11 10:58] dadepo commented on #30
"$20 per 1 million characters of text" sounds like something within budget.

[2016-07-11 11:00] kolatubosun commented on #30
Nice. Something to think about in the future. We don't need to commit to it now, especially since it will take some modifications to the codebase to achieve.

[2016-07-11 11:42] dadepo commented on #30
Cool. I would close this issue then. I also added the "question" label to it.

[2016-07-11 11:42] #30 closed

[2016-07-11 12:02] dadepo commented on #30
I also removed the "Assignment" to me and @hardcorekancil . (for this and other issues). I think it might be misinterpreted by people who wants to pick up an issue, to mean those issues with people already assigned to them are already working on fixing the issue or implementing the feature - which is not the case.
I think we can use `@username` to get the attention of someone instead of using the

[2016-07-11 12:03] kolatubosun commented on #30
Okay. I just didn't know if you'd see if it if I didn't assign it. Will adjust in the future.

[2016-07-12 10:59] kolatubosun opened #33 "Facebook LikePlugin Has Disappeared"
@dadepo In this space where "Yoruba Names Dictionary" is written at the bottom of the page is a plugin that allows people to "like" our Facebook page directly
![screenshot 32](https://cloud.githubusercontent.com/assets/18510601/16764767/125e9114-4828-11e6-906a-2162a8052755.png)
 from the site. The plugin is gone.

[2016-07-13 23:39] kolatubosun opened #34 "Checkboxes"
I've figured out all the instances in which a checkbox might make the UX better both for the lexicographer and the user. Here they are. cc: @dadepo :

**For Dashboard/Lexicographer**

_Homograph_: When a name has one spelling but different tone marks (Adéṣọlá/Adésọ́lá), the lexicographer clicks this check mark and the "meaning field" duplicates for the user to use to demarcate the two meanings

[2016-07-15 08:37] adedayoominiyi opened #35 "Add Sample Data to the Embedded Database"
Add some sample data (complete and partial) to the embedded HSQLDB database to allow new developers get a real feel for the system.

[2016-07-15 08:47] adedayoominiyi commented on #35
It seems also adding sample data to the elasticsearch component would go a long way to help onboard new developers

[2016-07-15 18:46] dadepo commented on #35
Commit d5575d2 ensures ElasticSearch is initialised with some sample data.

[2016-07-15 18:46] #35 closed

[2016-07-18 14:55] kolatubosun opened #36 "Problem with "Ige""
@dadepo When you search for "Ige", you see the name. But when you try to add a comment to it, it says the name doesn't exist. Might be an underlying code problem.

Before this happened, I'd noticed the existence of two Ige entries with two differing tone-marks. I've deleted one (which I'd created before), hoping to merely edit the remaining one. Now the remaining one is behaving in this way.

This

[2016-07-18 15:11] kolatubosun commented on #36
It's the same for "Omotola", it turns out.
![screenshot 56](https://cloud.githubusercontent.com/assets/18510601/16919584/37c1251e-4d02-11e6-8244-fe74b9ab3750.png)

[2016-07-19 20:50] kolatubosun opened #37 "Dedicated Keyboard Download Page"
@dadepo I'll suggest we create a dedicated page for the keyboard, a page like YorubaName.com/Keyboard. It's easy to remember and to tell people. It will also be easy to access. Since we've released two keyboard versions so far, the page will also be a place to clearly label each download (without the blog posts), and let users decide which ones they want.

Having to search for the announcement blo

[2016-07-20 01:49] dadepo commented on #37
If you can provide the copy for the dedicate page, that would be good so that anyone who is interested in helping with this issue can easily pick it up and implement

[2016-07-20 11:06] kolatubosun commented on #37
@dadepo Okay.

Hi @hardcorekancil would you be able to help write a copy? I can take a final look at it when you're done. Then we can upload it here in wait.

Also, will you be able to create the American/British style keyboards we talked about for both Mac and PC? This is not a prerequisite to the above. It can just be a future update. (Of course if you can do it side-by-side so that we launch th

[2016-07-20 11:36] hardcorekancil commented on #37
Dedicated page for the keyboard layouts: awesome idea.
I can write something tomorrow (kind of a tight schedule today).
As for the US and UK differentiation, I should be able to attend to this at the weekend; then it would have to be tested.

[2016-07-22 07:53] dadepo commented on #37
Now thinking about it, I think we should make this a page on the blog and not include this in the codebase. (As information about the keyboard is somewhat absorbed from what the codebase)

With Wordpress we can create a static page and have the information there.

Another advantage is that, this way, we do not have to redeploy the whole application when we only need to edit the page about the keyb

[2016-07-22 08:42] kolatubosun commented on #37
I think the reason for this dedicated page is to be able to handily refer people to it rather than keep saying "go to the blog". We can just say go to Yorubaname.com/Keyboard, which is easier to remember.

[2016-07-22 08:50] hardcorekancil commented on #37
It could be blog.yorubaname.com/keyboard

But I agree with Kọ́lá that having this static page on the website would
give it more visibility esp if it appears as a tab on the homepage for
instance.

2016-07-22 11:42 GMT+03:00 kolatubosun <notifications@github.com>:

--

[image: --]

Marie-Laure Le Guen
[image: https://]about.me/marielaure.leguen
<https://about.me/marielaure.leguen?promo=email_sig&u

[2016-07-22 09:16] dadepo commented on #37
Something like this is what I have in mind. It is a static page and does not have the long url's you have with posts.

...and on the website we can just have a link that links to this page (just as we have a link that links to the blog).

This way, we still have the visibility of having the link on the website, but we also have the flexibility of being able to edit the content from the blog withou

[2016-07-22 09:22] kolatubosun commented on #37
Okay. This makes sense, as long as the link on the homepage is in a prominent place.

[2016-07-22 09:30] dadepo commented on #37
Yup, we would put it in a prominent place. It could even be part of the top level links we have at at the top of the website

[2016-07-22 09:40] hardcorekancil commented on #37
That sounds like a very good solution @dadepo

[2016-07-29 13:49] kolatubosun opened #38 "Notification of Entry Publication"
I thought it might be a good touch if users who submit names get a notification in their email when their entry is finally indexed/published.

What'd you think?

[2016-07-29 13:51] kolatubosun opened #39 "Most Famous Name Algorithm"
For some reason, I don't trust the algorithm behind the "Popular Names" feature on the home page, because the five names that have been there since we launched have remained there since. It's highly unlikely that they are the only names being searched for everyday. I think it should be re-examined.

[2016-07-31 02:07] dadepo opened #40 "Switch Implementation Of Latest Searches, Latest Addition and Most Popular to use database"
Currently the implementation of Latest Searches, Latest Addition and Most Popular keeps the information all in memory. Meaning on restart this data would be lost.

Change implementation to use a datastore. Related to #39

[2016-07-31 02:07] dadepo commented on #39
Take not to check issue #40 while fixing this bug.

[2016-07-31 10:44] kolatubosun opened #41 "Integrate Facebook Commenting System"
One of the ways to have users return to an entry will be to make the platform interactive. And what more could help that happen than a FB commenting system integrated into any of the free spaces on the result/entry page (see attached). This won't replace the "improve this entry" button, but will complement it by allowing users to say whatever they want to about the entry. Do they have a personal s

[2016-07-31 15:31] kolatubosun opened #42 "Unable to get rid of old entries"
[Hope this is not duplicated]

The name "Agbetunsin" (http://yorubaname.com/entries/agbetunsin) was part of the first batch of names in the dictionary, perhaps obtained through Excel uploading. But now after I've edited the entry and republished it with the proper tone marks (http://yorubaname.com/entries/A%CC%80gbe%CC%81tu%CC%81nsi%CC%80n), I see that the two entries are still showing on the dict

[2016-07-31 20:48] kolatubosun commented on #42
Same for [old Ajibawo](http://yorubaname.com/entries/ajibawo) and [new Ajibáwo](http://yorubaname.com/entries/Aji%CC%81ba%CC%81wo)

[2016-08-02 07:53] kolatubosun opened #43 "Emails, Newsletters, and Publish Confirmations"
We currently collect emails of users when they submit names, but we don't notify them when the names they submitted get published (or rejected). Being able to do that will improve interaction with users and have them coming back.

Let's implement a functionality that does two things with emails submitted when names are suggested:
1. Subscribe them automatically to our newsletter at MailChimp. (We

[2016-08-02 09:52] kolatubosun commented on #32
I realise now that the problem might also be because the web link is cut off in the tweet, so when one clicks, it only seeks the part that shows, instead of the full link. If this is the problem, a solution might be to have the tweet pass through a link shortener (like bit.ly or goo.gl) so that the tweet can fit the full link.

I don't know if this is the case or the solution, but it's worth exami

[2016-08-02 13:37] kolatubosun commented on #29
I'd say it should NOT be removed. The problem I had with it before was that there was no provision for it on the back end, even though it shows on the front end, so I couldn't use it.

I've found a couple of uses for it now, but it needs to be provided for on the dashboard. The original reason for its creation was to be able to direct users who come into a name (say, "Olubunmi") to see other varia

[2016-08-02 13:52] kolatubosun commented on #23
This issue is best explained in issue #27. Both should be assessed together.

However, half of the current issue as described here has been sorted with the help of an extra space between each separate gloss. See photo. ![screenshot 112](https://cloud.githubusercontent.com/assets/18510601/17330937/c1ca866e-58c0-11e6-9530-0c9f5e62ec79.png)

The only thing left to sort is the "homograph" checkbox whi

[2016-08-02 14:02] kolatubosun commented on #24
And going with what is planned via #34, it might just be easy to tie the checkbox to a button either on the dashboard or on the front end where one can click and it shows all the entries with the "incomplete" or "meaning unknown" checkbox.

[2016-08-03 09:29] kolatubosun opened #44 "SEO"
I've been to some sites which you can query from a Google search by just pressing the tab key after you type the name. Photo attached.
![screenshot 114](https://cloud.githubusercontent.com/assets/18510601/17360756/f8871466-5964-11e6-9af5-92dec7c198ad.png)

How can we do that for YorubaName.com?

Also, when anyone searches for a name online, I want them to be brought to our site. When they search f

[2016-08-04 06:09] kolatubosun commented on #25
Comment received last night from a volunteer: "Nothing I tried to do tonight worked. I tried to edit some names first, but the entries wouldn't save. Then I tried adding a few, the entries didn't submit."

If we can make this the first bug to be fixed, please let's do that. cc @temiyemi

[2016-08-05 23:52] kolatubosun commented on #44
Better example: being able to search using search results.
![screenshot 117](https://cloud.githubusercontent.com/assets/18510601/17453203/f98a6590-5b6f-11e6-8846-fcde5f40825e.png)

[2016-08-07 19:11] dadepo commented on #25
When an account with "basic lexicography" role is created, the `roles` value is malformed "there is an extra ROLE_ string in the value". This should be looked into as part of the causes (if not the main cause) of this problem.

[2016-08-07 19:16] dadepo commented on #18
The conversion to url should be done on text that matches the regex: `/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/`

[2016-08-08 13:57] dadepo commented on #33
Fixed

[2016-08-08 14:41] dadepo commented on #19
Deployed!

[2016-08-08 14:41] #19 closed

[2016-08-08 14:44] dadepo commented on #33
Maybe not. gives an error when you try to share via the plugin

 @temiyemi can you help look into this? Should be a quick one

[2016-08-08 14:45] dadepo commented on #33
@kolatubosun or it might be something you can resolve. Looks like a setting issue within the facebook app?

[2016-08-08 14:53] kolatubosun commented on #33
I can make you a FB admin. I don't know what to do.

[2016-08-08 14:59] kolatubosun commented on #33
Done.

[2016-08-08 15:00] dadepo commented on #33
Shows me as an "Editor" not an "Admin"

[2016-08-08 15:09] kolatubosun commented on #33
Fixed.

[2016-08-08 15:36] dadepo commented on #33
When generating the code for the FB Page plugin, I see it needs to be associated with an App Id. @temiyemi  When you generated the code, you associated it with an App that is still in dev mode. Can you make this app public and add either Kola or myself as an Admin?
Danke!

[2016-08-08 15:52] temiyemi commented on #33
I didn’t create a Facebook app. You already had a Facebook Like widget on the Yoruba Names Blog, so I simply copied the parameters over to the front end website the other time.

Someone must have created the app/page on Facebook, and s/he is the Admin who can fix it.

Yemi

[2016-08-09 15:40] kolatubosun opened #45 "Alphabets [sic]"
The sentence should read: "Names listed by letters."
![screenshot 127](https://cloud.githubusercontent.com/assets/18510601/17522718/fa0eea58-5e4f-11e6-9307-b7f7ec8a74d2.png)

[2016-08-09 16:22] dadepo commented on #45
Or "Names listed Alphabetically"?

[2016-08-09 16:24] kolatubosun commented on #45
Yes. Better.
(Sorry I'm sending this from my iPad, in case it's not properly formatted.)

On Tuesday, August 9, 2016, dadepo <notifications@github.com> wrote:

--
 ------------

[image: --]

Kola Tubosun
[image: https://]about.me/kola_tubosun
<https://about.me/kola_tubosun?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

<http://about.me/kola_tubosun>What is

[2016-08-09 17:06] dadepo commented on #45
Updated

[2016-08-09 17:06] #45 closed

[2016-08-09 17:07] dadepo commented on #33
Fixed

[2016-08-09 17:07] #33 closed

[2016-08-09 17:23] dadepo commented on #37
FYI
for this to be done, the page on the blog needs to be added first. So basically this issue is waiting for that to be done.

[2016-08-09 17:48] kolatubosun commented on #33
Yay.

[2016-08-09 17:49] kolatubosun commented on #45
+100

[2016-08-09 18:39] hardcorekancil commented on #37
Hi Dadepo,

I'm not sure what is required. Is this something I can do from the WP
dashboard?
On Aug 9, 2016 8:23 p.m., "dadepo" <notifications@github.com> wrote:

[2016-08-09 18:48] dadepo commented on #37
@hardcorekancil if you can catch @esteedqueen, she might be able to help with this. But yes, it has to be done via WP dashboard. What we want to do is to create a page, add the content about the keyboard to it. When this is done, then the dictionary can be updated with the link to the created page.

[2016-08-10 09:20] hardcorekancil commented on #37
Ok I'll try to do it myself this week and if I can't find a way I'll call
on @esteedqueen

2016-08-09 21:48 GMT+03:00 dadepo <notifications@github.com>:

--

[image: --]

Marie-Laure Le Guen
[image: https://]about.me/marielaure.leguen
<https://about.me/marielaure.leguen?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2016-08-11 14:06] hardcorekancil commented on #37
Hi Dadepo,

Here is the page I've created on WP: http://blog.yorubaname.com/keyboards/

Does it help?

[2016-08-11 15:51] dadepo commented on #37
Yup. It does help. I'll close the ticket once I add the link. Thanks

[2016-08-16 08:43] kolatubosun opened #46 "More Linkability Between Entries"
One of my hopes for the "See also" and "Variant" fields is that when users are seeing an entry page, they can click on any of the names listed under "Variant" and "See also" to take them directly to those entries.

For instance, a name like Bétikú lists under "See also" another name like Bíòbákú, which means the same thing, but is usually given in a different part of Yorubaland. Instead of h

[2016-08-16 21:10] kolatubosun commented on #41
This can, over time, replace the button to "improve this entry" since they can leave their grouse as a public comment that can be replied to directly on the page.

[2016-08-17 01:47] dadepo opened #47 "Improve the mobile experience by incorporating more Progressive Web App Techniques"
The YorubaName website, currently is responsive, which is good. This can be improved by incorporating more techniques as recommended by the progressive web app paradigm.

Notable things that we can add includes:
- Discoverability via manifest.json
- Caching and improving robustness to flaky network
- Introduce/update with more App-like UI
- Optimize asserts related to #20

[2016-08-17 01:49] dadepo commented on #47
@temiyemi @daviskoko something you might be interested in?

[2016-08-17 03:04] temiyemi commented on #47
Perhaps. Haven’t looked into PWAs yet, so an opportunity.

[2016-08-17 07:53] daviskoko commented on #47
Well, I was looking at the WebApp & was wondering if VueJS would be helpful in collaboration with the template engine that the application is currently using. What do you think?

[2016-08-17 15:23] Mich5 commented on #47
Interested to get Involved in App UI and some progressive enhancement.

[2016-08-18 08:18] dadepo commented on #47
@daviskoko Question is, what has vueJs got to do with PWA? As far as I can tell it is just a framework for building front-end component with or without PWA so It does not fit this issue which is about making the website more progressive.

[2016-08-18 08:26] dadepo commented on #47
@Mich5 Thanks for the interest. What you could do is to fork the project, make changes that adds the needed progressive enhancements and then make a pull request.
Some things that could help in getting started:
1. Check the blogpost that gives an overview on how to start contributing http://blog.yorubaname.com/2016/07/11/contribution-guidelines-for-yorubaname-codebase/
2. Watch the recorded webina

[2016-08-18 10:49] daviskoko commented on #47
@dadepo Yes, it may not come into play with this particular issue, its probably something we might have to consider. However, I was thinking, if we use a frontend framework like Vue or Angular, we could have a better mobile experience and feel. Also, such frontend frameworks makes it easier for everyone to understand what is really going on in line with the PWA techniques that we seek to adapt. Wh

[2016-08-18 11:11] temiyemi commented on #47
Okay. I didn’t even know about Vue.js until you mentioned it yesterday. And a quick look into it shows some similarity with Backbone.js.

From experience, I advice we go with Angular since we’re already using that on the Admin side of the same project.

[2016-08-18 11:15] temiyemi commented on #47
Whichever the case, to go PWA, we can’t use server-side rendering. We’d have to do client side 100% just like the admin backend.

[2016-08-18 11:25] daviskoko commented on #47
Take a look at this
[https://vuejs.org/guide/comparison.html]
I know that some of the points might be considered to be biased being that this comparison was made by Vue, but it worth looking at. If its gonna take us some time to grasp the concept of Vue, we can still stick with Angular.

[2016-08-18 11:59] temiyemi commented on #47
Thanks for the link. Let’s use Angular, also because, we’re aiming to have a single front end in the near future: merge both admin front-end and the website together. And we already have lots of re-usable components on the backend at the moment.

[2016-08-18 12:18] Mich5 commented on #47
I also agree with angular because i have been building cordova apps with
ionic framework which is built on top of angular.
Also routing and data binding is very easy to do.

On Thu, Aug 18, 2016 at 1:59 PM, Yemi Agbetunsin <notifications@github.com>
wrote:

--
With Kind regards,

*Michael Ngoma*
*WRISASOFT SOLUTIONS LTD*

[2016-08-18 15:04] dadepo commented on #47
PWA can be achieved without introducing any framework.

The progressive enhancement techniques are framework agnostic. This discussion should not even be about introducing another framework to the stack! Especially when introducing a new framework is not even needed for what needs to be achieved.

I would suggest to first understand what PWA is all about.

[2016-08-18 15:11] dadepo commented on #47
Here is a quick start guide about PWA which builds a sample application following PWA without any mention of any extra framework https://developers.google.com/web/fundamentals/getting-started/your-first-progressive-web-app/?hl=en

Here is also another sample application https://github.com/GoogleChrome/airhorn that demonstrates offline storage (one of the techniques with PWA), if you look into the

[2016-08-18 15:25] daviskoko commented on #47
@dadepo I understand the concept of PWA, its a technique, pattern or guide, not a technological product & I came across it about 4 months ago & have been following the summits as well. Maybe we should talk more of the techniques & decide on framework in the chat group. But I still believe, that in following the PWA techniques, we might have to consider frameworks unless other wise  we chin up and

[2016-08-18 15:32] dadepo commented on #47
I am sceptical about introducing any MV* framework. The website, in principle is very simple: Search for names, show name entry. That is all. It offers no specialised or complex UI interactions.

So core JavaScript written following best practices in terms of code organization etc (with or without JQuery) is a very capable tool. Unless any implementation hits a road block, would I suggest we consi

[2016-08-18 15:40] dadepo commented on #47
...and as @temiyemi already mentioned, if we would have to go with any framework, Angular would be a better choice as we already have it in the tech stack. Introducing yet another Js framework would add unnecessary cost to maintenance.

But we do not even need that at this moment. An Implementation using VanillaJs is what we should strive for.

[2016-08-18 16:18] Mich5 commented on #47
@dadepo Two way i have accomplished a progressive web app. One by using Polymer, which is a good idea as it utilizes web components (Another great way to achieve progressive enhancements) and uses only vanillasJS.
The other was just plain VanillaJS.

Since you said the site "offers no specialised or complex UI interactions", the best way is to go with plain vanillaJS. for a nice app like feel, Uti

[2016-08-18 17:47] dadepo commented on #47
@Mich5 Yup, something like polymer sounds like a germane approach. I have not used it myself and I cant say if it brings in any overhead (I read though that it depends on a specialised build tool: Vulcanize, can't say if this would be an expensive overhead? or if it is even optional?).

But in general a polymer based approach is/should be a doable option. Maybe if you can try your hands at integra

[2016-08-20 21:44] temiyemi commented on #42
I noticed this has to do with tonal marks and the autocomplete / search functionality. I'd suggest we have an additional field in the name entries, for alternative spellings of names (i.e. without tonal marks). @dadepo do you think that would help?

[2016-08-20 22:22] kolatubosun commented on #42
Okay. Makes sense.

In that case then, what I suggest (I've thought about this before) is that the main field for each entry be without tone marks. i.e. the name that shows up when user searches for it on the homepage be totally plain. It also helps since most people don't even query with tone marks anyway.

So when the user enters the full entry page after pressing "enter", then they'd see the pr

[2016-08-21 02:35] temiyemi commented on #42
That’s what I was thinking too. We could then list all names with the same spelling, but different tonal marks and meanings.

With this, we can ditch the on-screen keyboard used for tonal entry, perhaps till we can improve the UX for tonal marks entry.

[2016-08-21 10:17] kolatubosun commented on #42
Actually, the on-screen keyboard has been useless so far, more so since we already have a downloadable keyboard for people to use. In my experience, and for UX, most people just want to type in a name without bothering with tone marks. But they want to know the correct tone marking.

So this will be a good solution. It will also solve the problem with the URL. The tone marking has currently made i

[2016-08-21 21:01] dadepo commented on #25
Code changes that removes the extra "ROLE_" has been made. I will close this ticket once it is in production

[2016-08-21 21:04] kolatubosun commented on #25
Any luck with the errors in admin account preventing updates until a refresh is done?

[2016-08-21 21:23] dadepo commented on #25
No. not yet. I have not gotten the chance to take a look at the last screenshot you sent me.

[2016-08-26 16:05] zeddysoft commented on #32
@kolatubosun hope no one is working on this feature yet, this looks like something i want to work on

[2016-08-26 16:18] kolatubosun commented on #32
Hi @zeddysoft Please go ahead an work on it, but let's ask @dadepo or @temiyemi if the issue is linked to any other internal issue anyone else is working on.

[2016-08-26 17:16] dadepo commented on #32
Hi @zeddysoft I am not working on this issue. And as far as I can tell, it is not linked to any other issue. So feel free to pick this up :)

[2016-08-26 18:20] temiyemi commented on #32
No, this is not currently linked to any of the ongoing issues being fixed. But this behaviour would change once we make the changes discussed last weekend: re: not using tonal marks in the URLs etc.

[2016-08-26 18:43] kolatubosun commented on #32
" this behaviour would change once we make the changes discussed last weekend: re: not using tonal marks in the URLs etc."

That's what I was wondering about.

[2016-08-26 20:05] dadepo commented on #32
@temiyemi correct me if I am wrong, the issue you refer to is issue #42 ? If so, I guess @zeddysoft  you can read up on the said conversation. it might shape how you approach this issue then. I myself have not had time to catch up on the discussions in that issue, once I do, I will share my perspective.

[2016-08-26 20:11] temiyemi commented on #32
@dadepo you're correct. Fixing #42 would sort this out going forward. But old links (with tonal marks) may not resolve after the change.

[2016-08-26 20:43] dadepo commented on #42
"I noticed this has to do with tonal marks and the autocomplete / search functionality. I'd suggest we have an additional field in the name entries, for alternative spellings of names (i.e. without tonal marks). @dadepo do you think that would help?"
I just did a quick look into this issue and it is way more than "tonal marks and the autocomplete / search functionality". There is definitely someth

[2016-08-26 20:45] dadepo commented on #32
@temiyemi based on the comment I just left on issue #42 (https://github.com/Yorubaname/yorubaname-website/issues/42#issuecomment-242846465), most likely, this would still be a valid issue that needs fixing.

[2016-08-26 20:50] temiyemi commented on #32
I get your drift. I kind of agree. The original issue on #42 is updating the entries. Your suggestion should fix that. But we also need to implement such that tonal marks are not the primary identifier for names spelt the same way. And when we do that, it would actually fix this URL issue.

[2016-08-26 20:51] dadepo opened #48 "Create a MYSQL implementation for the Dictionary Search functionality"
Right now the search behaviour for the dictionary is implemented with ElasticSearch. It might be helpful to have a MySQL implementation. This means that someone who wants to run the application can then decide to go with ElasticSearch or MySQL depending on their infrastructure choice.
1. Extract the API in the current ElasticSearchService to an interface (a search interface)
2. Provide a MySQL imp

[2016-08-26 21:07] dadepo commented on #32
True. That might end up being a thing we do. But when I briefly looked into this issue when it was first created, my conclusion was that, it has nothing to do with the application per say but with the twitter snippets that allows names to be shared (not configured correctly to support characters with accents etc) because if you copy the link to the name and paste it directly in a tweet yourself, i

[2016-08-28 14:54] dadepo opened #49 "Make the onscreen keyboard actually usable"
Currently the onscreen keyboard is actually not usable. This is because once you click anywhere on the page, whatever has been typed using the onscreen keyboard get cleared. This should be fixed.

Other improvements that might be needed include:

1. If a user clicks on the keyboard icon when the onscreen keyboard is already open, then close the onscreen keyboard, instead of reopening it again.
2.

[2016-08-28 21:23] kolatubosun opened #50 "Things that Don't Reflect in Public"
I realised now that the "See also" field isn't the only one that shows on the dashboard/backend but doesn't show on the entry on the public site. Please help fix.

The other one is the IPA and Pronunciation fields. We can delete the Pronunciation field, but the IPA field should stay.

[2016-08-30 12:36] kolatubosun commented on #49
Do you think we should remove the onscreen keyboard totally since everyone enters a name without tone marks and we're already considering making that the default mode of query? Personally, I think downloading the tone-marking software is more efficient than the on-screen keyboard that is harder and slower to use (and now, in the future, useless).

[2016-08-30 12:50] kolatubosun commented on #39
Still worried that the bus still isn't fixed. Since the last reset, the first name that rose to the top "Dossoumon" has remained there since. It's unlikely that this is the most searched name since then, since "Adeola" remained there also until the rest. It's more likely that whatever name first gets to the top of the list just stays there no matter the amount of time other names are searched for.

[2016-08-30 15:10] dadepo opened #51 "Remove Onscreen keyboard"
The onscreen keyboard is currently unusable. Its utility is also questionable. Better we just remove it.

See the discussions in #49 and #42

[2016-08-30 15:13] dadepo commented on #49
Yup...I agree with you. Never really had faith in the UX of any onscreen keyboard. Wanted to give it a second chance by at-least making it work before we conclude that people are not using it, since it was never really usable from the get go...but perhaps that is not worth the effort. So closing this issue. Created another one for the onscreen keyboard to be removed here #49

[2016-08-30 15:13] #49 closed

[2016-09-10 07:37] kolatubosun opened #52 "Social Media Count"
People can currently share a page they like on twitter and Facebook, but there is no count on the page as to how many people have shared it on each social media. If we make that possible, users can use it to tell the popularity of each individual name. So, let's allow people to simply "like" a page (which adds up to the facebook count), and also have a twitter counter for how many times users have

[2016-09-13 10:30] dadepo commented on #25
Deployed

[2016-09-13 10:30] #25 closed

[2016-09-13 18:01] temiyemi commented on #32
@dadepo how might we integrate https://github.com/assemble/handlebars-helpers so we can use some of the handlebars helpers? The URLEncode helper might help fix this one

[2016-09-15 11:53] dadepo commented on #31
Fixed merged to codebase. Ticket will be closed as soon as it is deployed.

[2016-09-15 12:09] kolatubosun commented on #31
Yay.

[2016-09-16 19:31] dadepo commented on #31
Deployed

[2016-09-16 20:07] kolatubosun commented on #31
Sorry one more thing: we forgot to remove the "required" sign written in red above it, so people aren't confused.

[2016-09-16 20:14] dadepo commented on #31
Yeah...just saw this...removing it right away

[2016-09-16 20:15] kolatubosun commented on #31
(y)

[2016-09-16 20:36] dadepo commented on #31
Removed and deployed

[2016-09-16 20:36] #31 closed

[2016-09-16 20:50] dadepo commented on #51
Changes merged to codebase. Will close once deployed

[2016-10-20 08:04] kolatubosun opened #54 "Create "Press" Page"
Create a dedicated page where we will put links to all the press coverage we get.

[2016-10-20 08:04] kolatubosun commented on #54
It should be accessible from the homepage and any of the pages on the site.

[2016-10-26 18:50] Yetunde79 commented on #41
Hi, I would like to help with this issue. Where can I find your website's front end code and if possible can I temporarily be an administrator on your Facebook.

[2016-10-27 02:16] dadepo commented on #41
This is the repository for the website's front end code. If you click on the "code" tab above, you see the source.

[2016-10-27 05:01] kolatubosun commented on #41
Hi @Yetunde79 Please add me as a friend Kola Tubosun and like our FB page so I can make you admin. What's your full name?

[2016-10-29 13:26] sounak98 commented on #52
I can take it up. But, as I am a beginner I need some help. How do I start?

[2016-10-29 15:28] Yetunde79 commented on #41
I'm new to github, so I don't really understand the folders. Is the source code in HTML and  where exactly can I find the <body> of the website.

[2016-10-31 12:18] dadepo commented on #52
Hey @sounak98 The things I would suggest you do, to get an hang of where to start include:

1. Read the general information here: https://github.com/Yorubaname/general-information This contains the general information any developer would need to know regarding contributing code to the project.
2. Read the blogpost: Contribution Guidelines for Yorubaname here: http://blog.yorubaname.com/2016/07/11/

[2016-10-31 12:41] dadepo commented on #41
Hi @Yetunde79, as you said you are new to Github, I will advice to first get aquatinted with Github (and Git in general). Github has some nice introductory guides here https://guides.github.com/. Go through those first.

You will also need to understand the code structure of the application. To help with this, I will advice the following:

1. Read the general information here: https://github.com/Y

[2017-01-05 00:11] kolatubosun opened #56 "Put Blog on Homepage"
I just came across this nice site called SpanishDict (http://www.spanishdict.com/) and I realized that it was possible to have the blog listed right on the home page. This, certainly, will increase readership of the posts there, and make them easily accessible.

Could we have something similar for YorubaName.com with all the blog content brought forward to sit directly under the search bar, after

[2017-01-07 10:24] kolatubosun opened #57 "Allow public users to become temporary lexicographers through login"
We currently have people volunteer first before they can become lexicographers and work on the dictionary. For the next phase, have a "login" button on the homepage where public users can sign up (either through FB or Google or any other profile) and through which they can now leave feedback on entries more easily, or add new entries themselves, or edit current entries. As usual, their comment or

[2017-01-07 12:16] kolatubosun opened #58 "Add "Top Contributor" to homepage"
Following the previous issue (#57), when users can actively contribute entries, there should be a list of five top contributors on the homepage in order to encourage more user participation.

[2017-01-13 09:53] kolatubosun opened #59 "Improve search result via Google"
When someone types ANY Yoruba name into Google, how can we make sure that the first (or some of the first) result of the search takes them to Yorubaname.com?

[2017-06-20 11:38] kolatubosun opened #60 "GeoTags on the home page"
Let's make it such that one can click on a certain tag, e.g. "Ijebu" or "Foreign-Arabic" or "General" (which are all geotags already placed on each name entry) and have the dictionary list only those names. That way, if the user is looking for only Ijesha names, they can just click on the "Ìjẹ̀ṣà" tag and have the names before them.

[2017-07-31 01:36] Flipponachi commented on #60
Am sorry but I couldn't find on the website where such feature is listed, as I want to contribute to this

[2017-07-31 01:40] Flipponachi commented on #59
On that I think the issue is seeing that Google algorithm works straight of English language and entries on the site aren't straight up English but rather diacritics words, the user is always directed to other sites, what I think might be helpful is to have both? Am open to suggestions, cos I like a good challenge

[2017-07-31 17:40] kolatubosun commented on #60
Hi @Flipponachi, each name entry has a geolocation tag. My point here is that we could have a front-facing way of using these tags to search for names.

[2017-08-24 00:51] Flipponachi commented on #56
This issue has been fixed (sadly), should be removed from issues Thanks

[2017-08-24 01:28] Flipponachi commented on #32
@dadepo I tried copying and pasting into my browser and it doesn't lead back to the entry. My best guess is that its from Twitter's API itself, but the funny thing in the first instance is that it displays correctly on twitter timeline and yet it doesn't direct back. I've opened issues with the Twitter dev community and I should get a response soon, the other option we have is to create a parse fu

[2017-08-24 01:46] Flipponachi commented on #60
Sorry its took quite a while to respond @kolatubosun, so in essence we are creating another method to search names, as in users can search names that are common to specific areas based on the geolocation? First off, how many tags are there? Secondly aren't the tags supposed to link back to yoruba regions ? I think thats all for now

[2017-10-14 16:09] greenyx opened #61 "Typography of The yoruba name site"
the typography of the yorubaname site is inconsistent and constantly falls back to system font in between glyphs, I would suggest the site be migrated to a font with full support for Yoruba glyphs.
![screen shot 2017-10-14 at 17 08 43](https://user-images.githubusercontent.com/7254357/31577213-6ff19ee0-b102-11e7-8e6e-13a04d4ed9ef.png)

[2017-10-16 13:21] dadepo commented on #61
Hi @greenyx Thanks for this observation.
Do you know of any font you can recommend?

[2017-10-16 20:30] greenyx commented on #61
Thanks for the response, I will suggest the [noto font](https://www.google.com/get/noto/), it seems to support most glyphs especially the non latin e that breaks most frequently..

[2017-10-27 15:38] mmalaquiasdev opened #62 "Performance issue: Use Arrays.asList() with just zero or one item"
Hello,

Use Arrays.asList() with zero or only one item. Could be replaced with Collections.singletonList() or Collections.emptyList() which will save some memory.

[2017-10-27 15:54] mmalaquiasdev opened #63 "License for open source project"
Hello,

As i understand this project can be trully open source, but need License for that.

What do you think about use a License like MIT or Apache?

[2017-10-27 16:53] mmalaquiasdev opened #65 "Perfomance issue: Use String.toString() is redundant"
Hello,

I see you are using **Optional<String> submittedBy** and few lines above this:

[code]

Do something like **submittedBy.get().toString().trim()** is redudant because the JVM knows the type of submittedBy.

But in case like this;

[code]

We don't need to use **toString()** because **getRemoteAddr()** return a string as we can check in the doc of Java EE https://docs.oracle.com/javaee/6/api

[2017-10-27 17:02] mmalaquiasdev commented on #65
problme solved here #64

[2017-10-27 17:12] mmalaquiasdev opened #66 "Perfomance issue: String concatenation as argument to 'StringBuffer.append()'"
Hi,

String concatenation used as the argument to StringBuffer.append():
[code]
This way may be turned into chained append calls on the existing StringBuilder, its better for reading and saving the cost of an extra StringBuilder allocation.

Like this:
[code]

[2017-10-27 17:24] mmalaquiasdev commented on #66
problem solved at #64

[2017-10-27 17:41] mmalaquiasdev opened #67 "Performance issue: Single String concatenation"
Hi,

In this case when we have a single concatenation:

[code]
It's more efficient and simpler using a simple String concatenation.

[code]

[2017-10-27 17:47] mmalaquiasdev commented on #67
solved #64

[2017-10-27 17:51] mmalaquiasdev opened #68 "Performance issue: Iteration for add a elemente in a second list"
Hi,

[code]
With this code we are using a loop just for add a new element in another list, soon it's better change that for a line more simple to reading and less memory cust.

[code]

[2017-10-27 17:54] mmalaquiasdev commented on #68
solved #64

[2017-10-30 12:07] mmalaquiasdev opened #70 "Refactoring Lambda to Method References"
Use lambda expressions to create anonymous methods is nice. But when a lambda does nothing beyond call an existing method it's often clearer to refer to the existing method by name.

Method references enable you to do this, they are compact, easy-to-read lambda expressions for methods that already have a name.

Lambda mode:

[code]

Method Reference mode:
[code]

[2017-10-30 12:18] mmalaquiasdev opened #72 "Refactoring lambda code style"
If we have a lambda expression with one line of code, like this:

[code]
We can simplify the code, just remove the keys {...}, like this:

[code]
The gain is to have an easier code to read.

[2017-10-30 12:23] mmalaquiasdev commented on #70
Solved #71

[2017-10-30 12:57] mmalaquiasdev commented on #72
#74

[2017-10-30 13:18] Kaperskyguru commented on #72
please i need a clear picture of what is required to be done...

[2017-10-30 13:23] mmalaquiasdev commented on #72
Hi, dude... i just finish this issue with a pr #74, you can see the changes in:

https://github.com/Yorubaname/yorubaname-website/pull/74/commits/e0f08ce657a3ff5f80dca664a57f5e78578abfee

and

https://github.com/Yorubaname/yorubaname-website/pull/74/commits/a1029754efb81bde5eb37ae21bfd153ce3093858

[2017-10-30 14:13] Kaperskyguru commented on #72
ok... seen... any issue

[2017-10-30 14:14] kolatubosun commented on #59
What of when someone just asks "what is the meaning of X name?", can we make it point to us as a default?

[2017-10-30 14:19] kolatubosun commented on #42
One more problem here, which migh also have been duplicated elsewhere. Some names which are in the dictionary are being returned as not being there. An example is "Ọlá" which I just successfully added after a long trial and error. It's listed on the homepage as a new addition, but when you search for it, or click on it, you get an error. See photos.
![screenshot 511](https://user-images.githubuse

[2017-10-30 14:30] kolatubosun opened #75 ""Pronunciation" spelling"
I noticed this just a few days ago. Must have been there for a while.
What you see right beside the audio sign when you open a name entry is "pronounciation". It's the wrong but commonly mistaken spelling. It should be "pronunciation".

The related issue is the size of the audio icon. We already discussed this one. I'm wondering if, after we unveil the female voice, we can just use colours to code

[2017-10-30 14:31] kolatubosun commented on #56
@flipponachi Has it really been fixed? I don't see it.

[2017-10-31 19:41] mmalaquiasdev commented on #65
Merged #69

[2017-10-31 19:41] #65 closed

[2017-10-31 19:41] mmalaquiasdev commented on #66
Merged #69

[2017-10-31 19:41] #66 closed

[2017-10-31 19:41] mmalaquiasdev commented on #67
Merged #69

[2017-10-31 19:41] #67 closed

[2017-10-31 19:41] mmalaquiasdev commented on #68
Merged #69

[2017-10-31 19:41] #68 closed

[2017-10-31 19:41] mmalaquiasdev commented on #62
Merged #69

[2017-10-31 19:41] #62 closed

[2017-11-02 08:27] dadepo commented on #61
Thanks! I will check this out and let you know how it goes

[2017-11-03 09:21] dadepo commented on #63
Thanks for bringing this up. We have actually had discussions about which license to go with within the team at some point, but I guess we dropped the ball a lil' bit in the rush to go to production.

The discussion has resumed and soon enough, we would update with a license.

[2017-11-03 19:30] dadepo opened #76 "Move the normalizing code from the view to the webapi module"
Right now the logic to normalize the unicode is implemented in the view (the website module). This functionality should be in the webapi. All names returned by the API should be normalized. Not the concern of the rendering tier.

[2017-11-06 11:20] kolatubosun commented on #75
What can be done immediately is to change "pronounciation" to "pronunciation". cc: @netblaiz

[2017-11-06 11:41] netblaiz commented on #75
Exactly

[2017-11-06 11:59] netblaiz commented on #75
I will fork the repo tonight and see to making the changes

[2017-11-07 05:53] kolatubosun opened #77 "Remove LG+M"
The logo for LG+M on the homepage is outdated and the owner wants it removed. Please let's do that. Can you help @netblaiz?

![screenshot 521](https://user-images.githubusercontent.com/18510601/32479009-23a4c06a-c388-11e7-8814-8350d22c8ea9.png)

[2017-11-07 07:08] netblaiz commented on #77
Yes, I can

Any replacement?

Or just removal?

[2017-11-07 08:00] kolatubosun commented on #77
Just removal.

On Tue, Nov 7, 2017 at 9:08 AM OYEDIJI ATILOLA JOSHUA <
notifications@github.com> wrote:

--
 ------------

[image: --]

Kola Tubosun
[image: https://]about.me/kola_tubosun
<https://about.me/kola_tubosun?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

<http://about.me/kola_tubosun>What is your name? http://www.YorubaName.com

[2017-11-07 23:12] #70 closed

[2017-11-07 23:13] #72 closed

[2017-11-08 11:03] #63 closed

[2017-11-13 17:43] dadepo commented on #77
This has been removed in this commit 1749876
Should be live on next deployment.

[2017-11-13 17:43] #77 closed

[2017-11-13 18:19] kolatubosun commented on #37
So, all we need for this issue to be gone is for a "Keyboard" link to be added on the homepage, after "blog" and before "contact us". cc: @netblaiz

[2017-11-14 09:32] kolatubosun commented on #37
cc: @rebirthtobi

[2017-11-14 17:52] dadepo commented on #75
The spelling has been updated in this commit 68ba4e43c2294eef262364182525d7840c7a8805
Would be live on next deploy.

[2017-11-14 18:59] dadepo opened #78 "Upgrade dependencies"
Spring boot, hibernate etc.

[2017-11-24 19:57] #51 closed

[2017-12-01 17:39] dadepo opened #79 "Extract the WebApi module"
The aim is to extract the WebApi module and have it releasable as a separate dependency in Maven. Applications that want to then use it can easily add it as a dependency.

Doing so would make available the API the WebApi module exposes

[2018-01-02 13:55] dadepo opened #81 "Update the UI to support the ability to select from more than two languages"
The UI for choosing the language to display the content of the website needs to be modified to allow the selection from more than two languages.

Currently, the YorubaName site supports two languages: English and Yoruba. This is implemented via having two tabbed buttons at the top right-hand corner of the site. Which can be seen in the attached screenshot.

![](http://blog.yorubaname.com/wp-conten

[2018-01-02 14:13] dadepo commented on #48
Done and merged in 63ed49060e34a3c69a00c3993d529617613f5ea5

[2018-01-02 14:13] #48 closed

[2018-01-02 23:27] ruohoruotsi opened #82 "Media links in name-pages should be hyperlinks"
Media links in name-pages should be hyperlinks, they are currently just text. It would be a more pleasant & effective user experience for links to be clickable, hyperlinks:

For example name-pages with media links:
http://yorubaname.com/entries/abiodun
http://yorubaname.com/entries/Ade%CD%81f%E1%BA%B9la%CD%81

[2018-01-15 14:41] Yetunde79 commented on #82
I can work on that

[2018-02-15 15:01] #75 closed

[2018-02-15 15:02] kolatubosun commented on #60
Yes @Flipponachi It's another method to search for names. There are about seven or eight tags in all. You can find them if you try to add a name and you go to the "Geolocation" part.

[2018-02-15 15:15] #42 closed

[2018-02-15 15:16] #36 closed

[2018-04-24 02:11] esteedqueen commented on #81
Hey @dadepo, if no one is working on this atm, I can look into this.

[2018-04-30 07:37] kolatubosun opened #88 "Make it possible to sign up as lexicographer on homepage"
Currently, we have to create 'users' on the dashboard, and give them privileges to be able to contribute to the dashboard as lexicographers. It's time we make it possible for random web users to become lexicographers. But this time, the default will be Lexicographer-Basic, with privileges to edit entries but not to publish or delete. This way, over time, they can appeal to become Lexicographer-Pro

[2018-05-01 13:18] kolatubosun opened #89 "White paper"
When I access the site on my iPad, there's a white box that casts on the page and doesn't go away unless I turn the device horizontally. See screenshots. I don't know why this is the case. Please help fix.
![img_3703](https://user-images.githubusercontent.com/18510601/39474163-7a6303a2-4d4a-11e8-8931-5c92b793ba26.jpg)
![img_3704](https://user-images.githubusercontent.com/18510601/39474164-7afc7190

[2020-02-06 01:12] pgmpofu opened #91 "Automate schema creation when setting up dev environment"
Create a script to run and create the following:

- Dictionary database

- api_user table with column name id, datatype BigInt

[2020-02-06 01:23] pgmpofu commented on #91
My mistake, this is not a valid issue

[2020-02-06 01:23] #91 closed

[2021-03-06 11:28] nonthevisor commented on #63
I see this issue was closed, but as of today, I still can find no license in the repo. Could you please add one, so it is clear if and how this code can be used?

[2021-03-26 09:10] nonthevisor opened #130 "License"
Hello,
From the tags, I understand that this project is Open Source. However, as there is no license given, it's not really possible to use the code, yet.
I can imagine two fitting licenses:
1. [MIT](https://opensource.org/licenses/MIT), which is very simple and permissive
2. [AGPL](https://www.gnu.org/licenses/agpl-3.0.html), which is more elaborate and guarantees that the software stays Open Sou

[2021-04-12 18:03] kligali opened #131 "'Enter Name' Box"
Hello all! I noted a minor issue needing correction on the Yorubaname homepage and thought to bring it to your attention. Not sure who's on the UX/UI team, but it looks like there's a word cutoff in the box users are promted to enter a Yoruba name. The box says 'type any Yoruba name here an'. I suggest the 'an' should be omitted.

[2022-01-21 07:45] kolatubosun opened #148 "Email susbmission"
When users submit new names, they also provide their emails, which we planned to use to notify them when their submission is published. I don't think the feature currently works. That is, when the names are published, people don't currently get any email notifications as we planned. Can we make this happen?
<img width="765" alt="Screen Shot 2022-01-21 at 8 44 29 AM" src="https://user-images.github